<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} // {{ .Site.Title }}{{ end }}</title>

{{ with .Description }}
<meta name="description" content="{{ . }}">
{{ else }}{{ with .Site.Params.description }}
<meta name="description" content="{{ . }}">
{{ end }}{{ end }}

{{ with .Site.Params.author }}
<meta name="author" content="{{ . }}">
{{ end }}

<link rel="canonical" href="{{ .Permalink }}">

<meta name="robots" content="{{ if .Site.Params.noindex }}noindex, nofollow{{ else }}index, follow{{ end }}">

{{/* Open Graph */}}
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">

{{/* Favicons */}}
<link rel="icon" type="image/x-icon" href="/favicon.ico">

{{/* Theme color - CRT amber */}}
<meta name="theme-color" content="#0a0a08">

{{/* Fonts */}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

{{/* RSS */}}
{{ range .AlternativeOutputFormats -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

{{/* Styles */}}
{{ $variables := resources.Get "css/variables.css" }}
{{ $base := resources.Get "css/base.css" }}
{{ $layout := resources.Get "css/layout.css" }}
{{ $components := resources.Get "css/components.css" }}

{{ if and $variables $base $layout $components }}
{{ $bundle := slice $variables $base $layout $components | resources.Concat "css/mothership.css" }}
<link rel="stylesheet" href="{{ $bundle.RelPermalink }}">
{{ end }}

{{/* Analytics */}}
{{ with site.Config.Services.GoogleAnalytics.ID }}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ . }}');
</script>
{{ end }}
